.Display {
  height: 45px;
  color: white;
  background: darkslategrey;
  line-height: 60px;
  font-size: 25px;
  flex: 1;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board {
  width: 237px;
}